<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Document</title>
    <style>
        table,th,td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h3> List of Fiber Lines at {{ town.name}} </h3> 
    {% if collection %}
    <table>
        <tr>
        {% if keys %}
            {% for key in keys %}
                <th> {{key}} </th>
            {% endfor %}
        {% endif %}
        </tr>
        {% for data in collection %}
        <tr>
            {% if data.town_id %} <td> {{ data.town_id }} </td> {% endif %}
            {% if data.line_id %} <td> {{ data.line_id }} </td> {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>